
.acc{
	height: 100%;
	width: 300vw;
	line-height: normal;
	position: absolute;
	top: 0;
	left: 0;
}


.acc__logo{
	width: 100vw;
	height: 20vh;
	background: url("img/logo-sparted-black.png") no-repeat 50% 50% / 65% auto;
}

.acc__body {
	transition: all .5s ease;
	height: 88vh;
}

.acc__body--trans0 {
	transform: translateX(0);
}


.acc__body--trans1 {
	transform: translateX(-100vw);
}

.acc__body--trans2 {
	transform: translateX(-200vw);
}

.acc__body--trans3 {
	transform: translateX(-300vw);
}
.ins, .cnx, .fpw {
	display: inline-block;
	vertical-align: top;
}

/*
.cnx {
	transform: translate(100vw, -90vh);
}

.fpw {
	transform: translate(200vw, -90vh);
}*/
