

.cnx-logo-block{
	margin-top: 50px;
	margin-bottom: 50px;
}

.cnx-page {
	line-height: normal;
}

.cnx-button-wrapper {
	line-height: normal;
	width: 100%;
}

.cnx-input, .cnx-button{
	width: 90%;
}

.cnx-input{

}

.cnx-bottom{
	background-color: white;
}

