.home{
	height: 100%;
	width: 100vw;
	overflow: hidden;
	line-height: normal;
	position: absolute;
	top: 0;
	left: 0;
	background: url("img/bg-homepage.jpg") no-repeat 0 100% / 100% auto;
}

.home__body {
	line-height: 100vh;
	height: 100vh;
	text-align: center;
	background-color: rgba(0,0,0,.25);
	position: relative;
}

.home__body__logo {
	line-height: normal;
	position: absolute;
	width: 100%;
	text-align: center;
	padding: 2vh 0;
}

.home__body__footer{
	width: 100vw;
	background-color: rgba(0,0,0,.85);
	position: absolute;
	height: 9vh;
	bottom: 0;
	left: 0;
	text-align: center;
	color: #ffffff;
	padding: 0.8vh 0;
	font-size: 2.7vh;
}

.home__body__footer__refresh, .home__body__footer__library {
	display: inline-block;
	width: 50%;
}

.home__footer__div__refresh {
	height: 4vh;
}

.icon-refresh, .icon-library {
	height: 3.5vh;
}

.icon-kquiz {
	height: 7vh;
}

.home__body__cards {
	width: 84vw;
	margin: auto;
	position: relative;
	perspective: 111vh;
	height: 36.71vh;
	vertical-align: middle;
	display: inline-block;
	line-height: normal;
}

.refresh-txt, .library-txt {
	font-family: "Source Sans Pro";
	font-size: 2.2vh;
}

.home__body__central-block {
	background-color: green;
	position: absolute;
	/*	height: 33vh;
        width: 76vw;*/
	height: 100vh;
	width: 100vw;
	text-align: center;
	margin: auto;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	/*	top: 33.5vh;
        left: 12vw;*/
	top: 0;
	left: 0;
	transform: scaleY(0.368) scaleX(.8);
	opacity: 0;
	border-radius: 5% / 7%;
}

.central-block__card__body {
	height: 100%;
	width: 100%;
	position: relative;
}

.central-block__card {
	width: 100%;
	height: 100%;
	padding: 2.8vh 2.8vh 1.7vh;
	color: #ffffff;
	position: relative;
}
.central-block__card__name {
	opacity: 0;
	width: 100%;
	position: absolute;
    font-size: 2vh;
    font-weight: bold;
    /*margin-bottom: 1vh;*/
    font-family: Montserrat;
}

.central-block__card__title {
	opacity: 0;
	width: 100%;
	position: absolute;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 3.4vh;
    padding-top: 1vh;
	top: 3vh;
}

.central-block__card__center {
	height: 80vh;
	line-height: 80vh;
	text-align: center;
}

.central-block__card__footer {
	opacity: 0;
	width: 100%;
	position: absolute;
	font-size: 2.8vh;
	font-family: Montserrat;
	bottom: 3vh;
}

/*.card-next {
	top: 0;
	opacity: 0.5;
	background-color: #808080;
	z-index: 1;
	transform: rotateX(-30deg) translate3d(0vh, 1vh, -20vh);
}

.card-current {
	opacity: 1;
	top: 0;
	z-index: 2;
}

.card-prev {
	*//*top: 20vh;*//*
	opacity: 0.5;
	top: 0;
	background-color: #808080;
	z-index: 1;
	transform: rotateX(30deg) translate3d(0vh, -1vh, -20vh);
}*/
