

.inscription__logo{
	margin-top: 50px;
	margin-bottom: 50px;
}

.inscription {
	height: 100%;
	width: 100%;
	line-height: normal;
	text-align: center;
	font-size: 2rem;
	position: absolute;
	top: 0;
	left: 0;
}

.inscription__button-wrapper{
	line-height: normal;
	width: 100%;
}

.button-inscription{
	background-color: #3b5999;
	width: 90%;
}

.inscription__footer{
	background-color: #ffffff;
}
