

.ins__logo{
	margin-top: 50px;
	margin-bottom: 50px;
}

.ins {
	height: 100%;
	width: 100%;
	line-height: normal;
	text-align: center;
	font-size: 2rem;
	position: absolute;
	top: 0;
	left: 0;
}

.ins__btn-wrapper{
	line-height: normal;
	width: 100%;
}

.button-ins{
	background-color: #3b5999;
	width: 90%;
}

.ins__footer{
	background-color: #ffffff;
}

.ins__btn-wrapper__inputs{
	transform: scaleY(0);
	transition: all .5s ease-in-out;
}

.displayInputs{
	transform-origin: 50% 0;
	transform: scaleY(1);
}

.ins__btn-wrapper__btn{
	transform: translateY(-155px);
	transition: all .5s ease-in-out;
}

.moveButton{
	transform: translateY(0);
}
