

.ins2-page {
	line-height: normal;
}

.ins2-logo-block{
    margin-top: 50px;
    margin-bottom: 50px;
}


.ins2-header-title{
    font-weight: bold;
    margin: 0 0 20px 0;
}

.ins2-header-text{
    font-size: initial;
}

.ins2-input1{
	margin-right: 20px;
}

.ins2-input{
	border: solid 1px #b4b4b4;
	/*margin: 25px 0;*/
	boder: 10px 10px;
	background-color: white;
	color: black;
	width: 40%;
}

