

.ins {
	height: 100%;
	font-size: 3.5vh;
	width: 100vw;
	position: relative;
}

.ins__btn-wrapper{
	line-height: normal;
	width: 100vw;
	text-align: center;
}
.ins__btn-wrapper__txt {
	line-height: 10vh;
}
.ins__footer{
	width: 100vw;
	position: absolute;
	line-height: 10vh;
	bottom: 7vh;
	left: 0;
	background-color: #ffffff;
}

.ins__btn-wrapper__inputs{
	transform: scaleY(0);
	transition: all .5s ease-in-out;
}

.displayInputs{
	transform-origin: 50% 0;
	transform: scaleY(1);
}

.ins__btn-wrapper__btn{
	transform: translateY(-24vh);
	transition: all .5s ease-in-out;
}

.moveButton{
	transform: translateY(0);
}
