*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

html {
	font-size: 62.5%;
	font-family: sans-serif;
}

html,
body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

a {
	color: #000;
	text-decoration: none;
}

.m_app,
.m_menu {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.m_menu {
	display: none;
}

.panel {
	height: 100%;
	width: 100%;
	line-height: 100vh;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 5vh;
}

.menu {
	background-color: #222222;
	height: 100%;
	width: 80%;
	line-height: 100vh;
	text-align: center;
	position: absolute;
	top: 0;
	left: -80%;
	font-size: 5vh;
	color: #fff;
}

/* ----- AUTH ----- */

.logo {
	width: 100%;
	height: 20vh;
	background: url(img/logo-sparted-black.png) no-repeat 50% 50% / 65% auto;
}

.framer {
	position: relative;
	transition: transform .5s ease-in-out;
}

.framer__w300 {
	width: 300%;
}

.framer.nth1 {
	transform: translateX(0);
}

.framer__w300.nth2 {
	transform: translateX(-33.3333%);
}

.framer__w300.nth3 {
	transform: translateX(-66.6666%);
}

.framer--elem {
	height: 100%;
	display: inline-block;
	position: relative;
}

.framer__w300 .framer--elem {
	width: 33.3333%;
}

.txt {
	font-size: 3vh;
}

.txt__light {
	color: #b4b4b4;
}

