*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

html {
	font-size: 62.5%;
	font-family: sans-serif;
}

html,
body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

a {
	color: #000;
	text-decoration: none;
}

.btn {
	background-color: #222;
	color: #fff;
	padding: 1vh 1vh;
	border-radius: 3px;
	font-size: 3.5vh;
	cursor: pointer;
	/*margin: 1vh 0;*/
	height: 10vh;
}

.btn--large{
	width: 90%;
}

.btn--facebook{
	background-color: #3b5999;
}

.btn--normal{
	background-color: #222222;
}

.txt {
	font-size: 3.5vh;
}

.txt--grayed{
	color: #b4b4b4;
}

.csr--pointer{
	cursor: pointer;
}

.bottom{
	line-height: normal;
	font-size: 3.5vh;
	text-align: center;
	background-color: #ddd;
	/*padding: 2vh 0;*/
}

.ipt{
	border: solid 1px #b4b4b4;
	background-color: #ffffff;
	color: #000000;
	padding: 1vh 4vw;
	border-radius: 3px;
	font-size: 3.5vh;
	cursor: pointer;
	margin-bottom: 2vh;
	height: 10vh;
}

.ipt--large{
	width: 90vw;
}

.center{
	text-align: center;
}



.bolder{
	font-weight: bolder;
}

.blue{
	color: blue;
}


.bblue{
	background-color: #3b5999;
}

.bwhite{
	background-color: white;
}

@media screen and (min-width: 900px){

	.ipt--large{
		max-width: 70vw;
	}


	.btn--large {
		max-width: 70vw;
	}

}




